body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  border: 8px;
  
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 8;
}

.content {
  background: #e3f4ff;
  margin:16, 8, 16, 8  ;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  pad: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  text-align: center;
  margin: 8px,24px,8,24;
}